# ── docsearch-api — Variables d'environnement ────────────────

ES_HOST=http://es01:9200
ES_INDEX=documents
REDIS_HOST=redis

# Simule un utilisateur en développement, sans SSO (laisser vide en prod)
DEV_USER=

# ── LDAP / Active Directory ──────────────────────────────────
# LDAP_ENABLED=false : filtrage ACL uniquement sur les groupes POSIX
LDAP_ENABLED=false
LDAP_HOST=ldap://dc01.domaine.gouv.fr
LDAP_BASE=dc=domaine,dc=gouv,dc=fr
LDAP_BINDDN=cn=svc-docsearch,ou=services,dc=domaine,dc=gouv,dc=fr
LDAP_PASS=changeme

DOCKER_UID=1000
